body {
  background-color: grey;
}

/* input,
select,
textarea {
    max-width: 200px;
} */

.form-control {
  /* width: 20px; */
  /* max-width: 300px; */
}

.form-control::-webkit-input-placeholder {
    color: inherit;
}
